*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}


.tab > h3{

    color: white;
    font-weight: bold;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 50px;
       }

header{
    background: linear-gradient(to top, #e67c47 ,#ff5e62);
    color: white;
    text-align:center;
    height: 60px;
    font-size: 50px;
    font-weight: bold;
}
/*Code for the side tab taken from https://www.w3schools.com/howto/howto_js_vertical_tabs.asp*/
.tab{
    float:left;
    border: 1px solid #ccc;
    background : linear-gradient(to top, #e67c47 ,#ff5e62);
    width:20%;
    height: 1000px;
}

.tab button{
    display:  block;
    background-color: inherit;
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    border: none;
    height: 10%;
    outline: none;
    text-align: center;
    cursor: pointer;
}

.tab button:hover {
    background-color: orangered;
}
.tab button.active {
    background-color: orangered;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    border-right: red 10px;
    width: 70%;
    border-left: none;
    height: 300px;
}

.tabcontento{
    display: none;
    border-right: red 10px;
}

.fruit{
    display: inline-block;
    padding: 10px;
}
.vegetable{
    display: inline-block;
    padding: 10px;
}

.meat{
    display: inline-block;
    padding: 10px;
}

.cooking{
    display: inline-block;
    padding: 10px;
}

.carbs{
    display: inline-block;
    padding: 10px;
}

.add{
    text-align: center;
   margin-left: 40px;
}

.forms{
   display: block;
}



