*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    z-index: 1;

}

.tab > h3{

    color: white;
    font-weight: bold;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 50px;
    z-index: 1;
       }

header{
    background: linear-gradient(to top, #e67c47 ,#ff5e62);
    color: white;
    text-align:center;
    height: 60px;
    font-size: 50px;
    font-weight: bold;
    z-index: 1;
}
/*Code for the side tab taken from https://www.w3schools.com/howto/howto_js_vertical_tabs.asp*/
.tab{
    float:left;
    border: 1px solid #ccc;
    background : linear-gradient(to top, #e67c47 ,#ff5e62);
    width:20%;
    height: 1000px;
    z-index: 1;
}

.tab button{
    display:  block;
    background-color: inherit;
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    border: none;
    height: 5%;
    outline: none;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.tab button:hover {
    background-color: orangered;
    z-index: 1;
}
.tab button.active {
    background-color: orangered;
    z-index: 1;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    border-right: red 10px;
    width: 70%;
    border-left: none;
    height: 300px;
    z-index: 1;
}

.tabcontento{
    display: none;
    border-right: red 10px;
    z-index: 1;
}

.fruit{
    display: inline-block;
    padding: 10px;
    z-index: 1;
}
.vegetable{
    display: inline-block;
    padding: 10px;
    z-index: 1;
}

.meat{
    display: inline-block;
    padding: 10px;
    z-index: 1;
}

.cooking{
    display: inline-block;
    padding: 10px;
    z-index: 1;
}

.carbs{
    display: inline-block;
    padding: 10px;
    z-index: 1;
}

.add{
    text-align: center;
   margin-left: 40px;
    z-index: 1;
}

.forms{
   display: block;
    z-index: 1;
}

.form {
   float: right;
    z-index: 1;

}





.carts{
    margin-left:  80px;

}

.carts:hover{
    cursor: pointer;
}






